main {
    background-image: url(./images/star-wars-backgrounds-25.jpg);
    background-size: auto 100vw;
    background-position: center;
    height: 100vw;
}

#flex-1, #flex-2, #flex-3 {
    align-items: center;
    justify-content: center;
}

#pg2-quote-container {
    color: white;
    font-family: "Libre Franklin", sans-serif;
    background: none;
}

