@font-face {
    font-family: "Star Jedi Hollow";
    src: url("/assets/Fonts/StarJediHollow.woff") format("woff"), url("/assets/Fonts/StarJediHollow.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Star Jedi";
    src: url("/assets/Fonts/StarJedi.woff") format("woff"), url("/assets/Fonts/StarJedi.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

body {
    background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
    /* background-image: url(https://thumbs.gfycat.com/FaithfulSlowCoelacanth-mobile.mp4) */
    /* background-repeat: repeat; */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#flex-1, #flex-2, #flex-3 {
    align-items: center;
    justify-content: center;
}

#pg2-title {
    font-family: "Star Jedi", serif;
    /* src: url(./Fonts/StarJediHollow-A4lL.ttf); */
    font-weight: normal;
    font-size: 3rem;
    /* text-align: center; */
}

#pg2-subtitle {
    font-family: "Libre Franklin", sans-serif;
    src: url(/assets/Fonts/LibreFranklin-VariableFont_wght.ttf);
    font-style: oblique;
    font-weight: 500;
}

#pg2-quote-container {
    color: white;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
    background: none;
    text-shadow: 0px 12px 10px black;
}

#breadcrumb {
    font-family: "Star Jedi";
    font-size: 1.5rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 255, 106, 0.642);
}

footer {
    position: absolute bottom;
}

