@font-face {
    font-family: "Star Jedi Hollow";
    src: url("./Fonts/StarJediHollow.woff") format("woff"), url("/assets/Fonts/StarJediHollow.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    /* font-display: swap; */
}

@font-face {
    font-family: "Star Jedi";
    src: url("./Fonts/StarJedi.woff") format("woff"), url("/assets/Fonts/StarJedi.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
    /* font-display: swap; */
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes myBtn {
    0% {opacity: 0;}
    /* 50% {opacity: 0.25;}
    75% {opacity: 0.75;} */
    100% {opacity: 1}
    animation-delay: 10s;
}

body {
    background-image: url(./images/wallpaperflare.com_wallpaper.jpg);
    /* background-image: url(https://thumbs.gfycat.com/FaithfulSlowCoelacanth-mobile.mp4) */
    /* background-repeat: repeat; */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#flex-1, #flex-2, #flex-3 {
    align-items: center;
    justify-content: center;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

/* Transparent header? */
#pg2-hero {
    background: none;
}

#pg2-title {
    font-family: "Star Jedi", serif;
    /* src: url(./Fonts/StarJediHollow-A4lL.ttf); */
    font-weight: normal;
    font-size: 3rem;
    /* text-align: center; */
    animation: fadeIn 2s;
}

#pg2-subtitle {
    font-family: "Libre Franklin", sans-serif;
    src: url(/assets/Fonts/LibreFranklin-VariableFont_wght.ttf);
    font-style: oblique;
    font-weight: 500;
    animation: fadeIn 2s;
}

#pg2-quote-container {
    color: white;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
    background: none;
    text-shadow: 0px 8px 10px black;
    margin-top: 10%;
}

#breadcrumb {
    font-family: "Star Jedi";
    font-size: 1.5rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 255, 106, 0.642);
    animation: myBtn 2.5s;
    /* animation-delay: 10s; */
}

footer {
    position: absolute;
    bottom: 1;
    /* margin-top: 5%; */
}

